<section id="gallery" class="gallery">
    <div class="container"> 
    <div class="gallery-description-container">
        <h3 class="gallery-title">Coffee Moments</h3>
        <p class="gallery-description">Experience the warmth and community of CoffeeJoy.</p>
    </div>


    <div class="img-container">
        <ul class="gallery-list">
            <li class="gallery-item">
                <picture class="gallery-img">
                    <source media="(min-width: 1440px)" srcset="/img/experience/moments-1-desktop-min.jpg 1x,
                          /img/experience/moments-1-desktop@2x-min.jpg 2x" width="416" height="416">

                    <source media="(min-width: 768px)" srcset="/img/experience/moments-1-tablet-min.jpg 1x, 
                          /img/experience/moments-1-tablet@2x-min.jpg 2x" width="336" height="336">

                    <source media="(max-width: 767px)" srcset="/img/experience/moments-1-mobile-min.jpg 1x, 
                          /img/experience/moments-1-mobile@2x-min.jpg 2x" width="288" height="288">

                    <img src="/img/experience/moments-1-desktop-min.jpg" alt="coffee" width="416" height="416">
                </picture>
            </li>

            <li class="gallery-item">
                <picture class="gallery-img">
                    <source media="(min-width: 1440px)" srcset="/img/experience/moments-2-desktop-min.jpg 1x, 
                      /img/experience/moments-2-desktop@2x-min.jpg 2x" width="416" height="416">

                    <source media="(min-width: 768px)" srcset="/img/experience/moments-2-tablet-min.jpg 1x, 
                      /img/experience/moments-2-tablet@2x-min.jpg 2x" width="336" height="336">

                    <source media="(max-width: 767px)" srcset="/img/experience/moments-2-mobile-min.jpg 1x, 
                      /img/experience/moments-2-mobile@2x-min.jpg 2x" width="288" height="288">

                    <img src="/img/experience/moments-2-desktop-min.jpg" alt="coffee" width="416" height="416">
                </picture>
            </li>

            <li class="gallery-item">
                <picture class="gallery-img">
                    <source media="(min-width: 1440px)" srcset="/img/experience/moments-3-desktop-min.jpg 1x, 
                      /img/experience/moments-3-desktop@2x-min.jpg 2x" width="416" height="234">

                    <source media="(min-width: 768px)" srcset="/img/experience/moments-3-tablet-min.jpg 1x, 
                      /img/experience/moments-3-tablet@2x-min.jpg 2x" width="336" height="189">

                    <source media="(max-width: 767px)" srcset="/img/experience/moments-3-mobile-min.jpg 1x, 
                      /img/experience/moments-3-mobile@2x-min.jpg 2x" width="288" height="162">

                    <img src="/img/experience/moments-3-desktop-min.jpg" alt="coffee" width="416" height="234">
                </picture>

            </li>

            <li class="gallery-item">
                <picture class="gallery-img">
                    <source media="(min-width: 1440px)" srcset="/img/experience/moments-4-desktop-min.jpg 1x, 
                      /img/experience/moments-4-desktop@2x-min.jpg 2x" width="416" height="234">

                    <source media="(min-width: 768px)" srcset="/img/experience/moments-4-tablet-min.jpg 1x, 
                      /img/experience/moments-4-tablet@2x-min.jpg 2x" width="336" height="189">

                    <source media="(max-width: 767px)" srcset="/img/experience/moments-4-mobile-min.jpg 1x, 
                      /img/experience/moments-4-mobile@2x-min.jpg 2x" width="288" height="162">

                    <img src="/img/experience/moments-4-desktop-min.jpg"
                        alt="coffee" width="416" height="234">
                </picture>
            </li>

            <li class="gallery-item">
                <picture class="gallery-img">
                    <source media="(min-width: 1440px)" srcset="/img/experience/moments-5-desktop-min.jpg 1x, 
                                              /img/experience/moments-5-desktop@2x-min.jpg 2x" width="416" height="416">
            
                    <source media="(min-width: 768px)" srcset="/img/experience/moments-5-tablet-min.jpg 1x, 
                                              /img/experience/moments-5-tablet@2x-min.jpg 2x" width="336" height="336">
            
                    <source media="(max-width: 767px)" srcset="/img/experience/moments-5-mobile-min.jpg 1x, 
                                              /img/experience/moments-5-mobile@2x-min.jpg 2x" width="288" height="288">
            
                    <img src="/img/experience/moments-5-desktop-min.jpg"
                        alt="coffee" width="416" height="416">
                </picture>
            </li>

            <li class="gallery-item">
                <picture class="gallery-img">
                    <source media="(min-width: 1440px)" srcset="/img/experience/moments-6-desktop-min.jpg 1x, 
                      /img/experience/moments-6-desktop@2x-min.jpg 2x" width="416" height="416">

                    <source media="(min-width: 768px)" srcset="/img/experience/moments-6-tablet-min.jpg 1x, 
                      /img/experience/moments-6-tablet@2x-min.jpg 2x" width="336" height="336">

                    <source media="(max-width: 767px)" srcset="/img/experience/moments-6-mobile-min.jpg 1x, 
                      /img/experience/moments-6-mobile@2x-min.jpg 2x" width="288" height="288">

                    <img src="/img/experience/moments-6-desktop-min.jpg"
                        alt="coffee" width="416" height="416">
                </picture>
            </li>

            <li class="gallery-item">
                <picture class="gallery-img">
                    <source media="(min-width: 1440px)" srcset="/img/experience/moments-7-desktop-min.jpg 1x, 
                      /img/experience/moments-7-desktop@2x-min.jpg 2x" width="416" height="416">

                    <source media="(min-width: 768px)" srcset="/img/experience/moments-7-tablet-min.jpg 1x, 
                      /img/experience/moments-7-tablet@2x-min.jpg 2x" width="704" height="391">

                    <source media="(max-width: 767px)" srcset="/img/experience/moments-7-mobile-min.jpg 1x, 
                      /img/experience/moments-7-mobile@2x-min.jpg 2x" width="288" height="391">

                    <img src="/img/experience/moments-7-desktop-min.jpg"
                        alt="coffee" width="416" height="416">
                </picture>
            </li>
        </ul>
    </div>

</div>
</section>
  