<header class="page-header">
  <div class="container content-header">
    <div class="logo-header">
      <a href="./header.html">
        <svg width="62.52" height="35.86">
          <use href="../img/icons.svg#icon-company-logo" />
        </svg>
      </a>
    </div>
    <button class="button-header" type="button">
      <svg width="16" height="12">
        <use href="../img/icons.svg#icon-menu" />
      </svg>
    </button>
    <nav>
      <ul class="nav-list-header">
        <li><a class="nav-list-header-element" href="#aboutus">About us</a></li>
        <li>
          <a class="nav-list-header-element" href="#benefits">Benefits</a>
        </li>
        <li><a class="nav-list-header-element" href="#gallery">Gallery</a></li>
        <li>
          <a class="nav-list-header-element" href="#testimonial">Testimonial</a>
        </li>
        <li>
          <a class="nav-list-header-element" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
