<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css" integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/mobilemenu.css">
</head>
<body>
    <div class="mobile-menu">
        <div class="navbar-header"> 
                    <svg class="navbar-header-icons" width="84" height="36">
                        <use href="../img/icons.svg#koffeeJoy"></use>
                    </svg>
                    <button class="navbar-button is-open" data-menu-close>
                        <svg class="menu-icon" width="11.31" height="11.31">
                            <use href="../img/icons.svg#navbar-close"></use>
                        </svg>
                    </button>
                   
        </div>
        <div class="navbar-footer is-open" data-menu>
            <ul class="navbar-footer-list">
                <li class="navbar-footer-items"><a href="" class="navbar-footer-text">About us</a></li>
                <li class="navbar-footer-items"><a href="" class="navbar-footer-text">Benefits</a></li>
                <li class="navbar-footer-items"><a href="" class="navbar-footer-text">Gallery</a></li>
                <li class="navbar-footer-items"><a href="" class="navbar-footer-text">Testimonial</a></li>
                <li class="navbar-footer-items"><a href="" class="navbar-footer-text">Location</a></li>
            </ul>
        </div>
    </div>
    
</body>
</html>