<section>
  <div class="container-subscribe">
    <div class="container-form">
      <h1 class="subscribe-title">Join Our Coffee Community</h1>
      <p class="subscribe-text">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
      <form class="form-email">
        <label class="label-subscribe">
          <input
            class="input-subscribe"
            type="email"
            name="user-email"
            placeholder="Your Email Here"
            required
          />
        </label>
        <button class="button-subscribe" type="submit">
          Subscribe
          <svg class="chevrons" width="24" height="24">
            <use href="/img/icons.svg#icon-subscribe"></use>
          </svg>
        </button>
      </form>
      <p class="consent">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>
    </div>
    <div>
      <img
        class="images-subscribe"
        srcset="
          /img/subscribe/community-mobile-min.jpg    1x,
          /img/subscribe/community-mobile@2x-min.jpg 2x
        "
        src="/img/subscribe/community-mobile-min.jpg"
        alt="communiti"
        width="704"
        height="400"
      />
    </div>
  </div>
</section>
