<section class="testimonials">
    <div class="container testimonials-container">
        <h2 class="testimonials-title">What our visitors say</h2>
        <ul class="feedback-list">
            <li class="feedback-list-item">
                <div class="feedback-main">
                    <ul class="star-icons-list">
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon-outline" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-outline"></use>
                         </svg>
                        </li>
                    </ul>
                    <p class="feedback-text">"Every cup feels like a warm hug! I’m addicted to their seasonal flavors!"</p>
                </div>
                <p class="feedback-author">Name Surname</p>
            </li>
            <li class="feedback-list-item">
                <div class="feedback-main">
                    <ul class="star-icons-list">
                    <li>
                        <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="star-icon-outline" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-outline"></use>
                        </svg>
                    </li>
                    </ul>
                    <p class="feedback-text">"CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance is so inviting, and the baristas are always friendly."</p>
                </div>
                <p class="feedback-author">Alice Johnson</p>
            </li>
            <li class="feedback-list-item">
                <div class="feedback-main">
                    <ul class="star-icons-list">
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                    </ul>
                    <p class="feedback-text">"I love the variety of blends offered at CoffeeJoy. Every visit feels like a new experience!"</p>
                </div>
                <p class="feedback-author">Michael Smith</p>
            </li>
            <li class="feedback-list-item">
                <div class="feedback-main">
                    <ul class="star-icons-list">
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon-outline" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-outline"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon-outline" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-outline"></use>
                         </svg>
                        </li>
                    </ul>
                    <p class="feedback-text">"The pastries are to die for! I can’t resist pairing them with my favorite latte. Highly recommend this spot!"</p>
                </div>
                <p class="feedback-author">Emily Davis</p>
            </li>
            <li class="feedback-list-item">
                <div class="feedback-main">
                    <ul class="star-icons-list">
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                    </ul>
                    <p class="feedback-text">"A cozy little gem! CoffeeJoy has the best cold brew in town. I come here every weekend!"</p>
                </div>
                <p class="feedback-author">James Brown</p>
            </li>
            <li class="feedback-list-item">
                <div class="feedback-main">
                    <ul class="star-icons-list">
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon-outline" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-outline"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon-outline" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-outline"></use>
                         </svg>
                        </li>
                    </ul>
                    <p class="feedback-text">"The atmosphere is perfect for working or relaxing with friends. Their Wi-Fi is fast too!"</p>
                </div>
                <p class="feedback-author">Sarah Wilson</p>
            </li>
            <li class="feedback-list-item">
                <div class="feedback-main">
                    <ul class="star-icons-list">
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon-outline" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-outline"></use>
                         </svg>
                        </li>
                    </ul>
                    <p class="feedback-text">"I’m addicted to their seasonal flavors! Each one is crafted with such care and creativity."</p>
                </div>
                <p class="feedback-author">Chris Lee</p>
            </li>
            <li class="feedback-list-item">
                <div class="feedback-main">
                    <ul class="star-icons-list">
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-filled"></use>
                         </svg>
                        </li>
                        <li>
                         <svg class="star-icon-outline" width="20" height="19">
                            <use href="../img/icons.svg#icon-favorite-outline"></use>
                         </svg>
                        </li>
                    </ul>
                    <p class="feedback-text">"I appreciate how they source their coffee beans sustainably. It's great to support such an ethical business!"</p>
                </div>
                <p class="feedback-author">Patricia Taylor</p>
            </li>
        </ul>
    </div>
</section>