<section class="testimonials">
    <div class="container testimonials-container">
        <h2 class="testimonials-title">What our visitors say</h2>
        <ul class="feedback-list">
            <li class="feedback-list-item">
                <ul class="star-icons-list">
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-outline"></use>
                     </svg>
                    </li>
                </ul>
                <p>"Every cup feels like a warm hug! I’m addicted to their seasonal flavors!"</p>
                <p>Name Surname</p>
            </li>
            <li class="feedback-list-item">
                <ul class="star-icons-list">
                <li>
                    <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                    </svg>
                </li>
                <li>
                    <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                    </svg>
                </li>
                <li>
                    <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                    </svg>
                </li>
                <li>
                    <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                    </svg>
                </li>
                <li>
                    <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-outline"></use>
                    </svg>
                </li>
                </ul>
                <p></p>
                <p></p>
            </li>
            <li class="feedback-list-item">
                <ul class="star-icons-list">
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                </ul>
                <p></p>
                <p></p>
            </li>
            <li class="feedback-list-item">
                <ul class="star-icons-list">                    
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-outline"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-outline"></use>
                     </svg>
                    </li>
                </ul>
                <p></p>
                <p></p>
            </li>
            <li class="feedback-list-item">
                <ul class="star-icons-list">
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                </ul>
                <p></p>
                <p></p>
            </li>
            <li class="feedback-list-item">
                <ul class="star-icons-list">
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-outline"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-outline"></use>
                     </svg>
                    </li>
                </ul>
                <p></p>
                <p></p>
            </li>
            <li class="feedback-list-item">
                <ul class="star-icons-list">
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-outline"></use>
                     </svg>
                    </li>
                </ul>
                <p></p>
                <p></p>
            </li>
            <li class="feedback-list-item">
                <ul class="star-icons-list">
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-filled"></use>
                     </svg>
                    </li>
                    <li>
                     <svg class="star-icon" width="20" height="19">
                        <use href="../img/icons.svg#icon-favorite-outline"></use>
                     </svg>
                    </li>
                </ul>
                <p></p>
                <p></p>
            </li>
        </ul>
    </div>
</section>