<section class="reviews" id="testimonial">
    <div class="container reviews-container">
        <h2 class="review-title">What our visitors say</h2>
        <ul class="review-list">
            <li class="review-card">
                <ul class="stars">
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p>"Every cup feels like a warm hug! I'm addicted to their seasonal flavors!"</p>
                <h4>Name Surname</h4>
            </li>
            <div class="review-card">
                <ul class="stars">
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p>"CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance is so inviting, and the baristas are always friendly."</p>
                <h4>Alice Johnson</h4>
            </div>
            <div class="review-card">
                <ul class="stars">
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                </ul>
                <p>"I love the variety of blends offered at CoffeeJoy. Every visit feels like a new experience!"</p>
                <h4>Michael Smith</h4>
            </div>
            <div class="review-card">
                <ul class="stars">
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p>"The pastries are to die for! I can’t resist pairing them with my favorite latte. Highly recommend this spot!"</p>
                <h4>Emily Davis</h4>
            </div>
            <div class="review-card">
                <ul class="stars">
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                </ul>
                <p>"A cozy little gem! CoffeeJoy has the best cold brew in town. I come here every weekend!"</p>
                <h4>James Brown</h4>
            </div>
            <div class="review-card">
                <ul class="stars">
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p>"The atmosphere is perfect for working or relaxing with friends. Their Wi-Fi is fast too!"</p>
                <h4>Sarah Wilson</h4>
            </div>
            <div class="review-card">
                <ul class="stars">
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p>"I'm addicted to their seasonal flavors! Each one is crafted with such care and creativity."</p>
                <h4>Chris Lee</h4>
            </div>
            <div class="review-card">
                <ul class="stars">
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg width="20" height="20">
                            <use href="../img/icons.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p>"I appreciate how they source their coffee beans sustainably. It's great to support such an ethical business!"</p>
                <h4>Patricia Taylor</h4>
            </div>
        </ul>
    </div>
</section>