<section id="aboutus" class="containerwellcome">
  <div class="wellcome-main">
    <div class="wellcome-part">
      <h3 class="wellcome-start">Welcome</h3>
      <h2 class="wellcome-journey">Our Journey: Passion for Quality Coffee</h2>
    </div>
    <div class="wellcome-part-two">
      <p class="wellcome-text">
        At CoffeeJoy, we believe that every cup tells a story. Our mission is to
        bring you the finest coffee experiences, crafted with care and
        dedication. We are committed to sourcing high-quality beans and roasting
        them to perfection, ensuring each sip is a delight.
      </p>
      <a href="#location" class="button-loc">
        Find location
        <svg class="icon-marker" width="24" height="24">
          <use href="../img/icons.svg#icon-marker"></use>
        </svg>
      </a>
    </div>
  </div>
  <div>
    <picture class="wellcome-img-container">
      <source
        srcset="
          ../img/wellcome/jornay-mobile-min.jpg    1x,
          ../img/wellcome/jornay-mobile@2x-min.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ../img/wellcome/jorney-tablet-min.jpg    1x,
          ../img/wellcome/jorney-tablet@2x-min.jpg 2x
        "
        media="(min-width: 768px) and (max-width: 1157px)"
      />
      <source
        srcset="
          ../img/wellcome/jorney-desktop-min.jpg    1x,
          ../img/wellcome/jorney-desktop@2x-min.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        class="wellcome-img"
        src="../img/wellcome/jornay-mobile-min.jpg"
        alt="Coffee picture"
      />
    </picture>
  </div>
</section>
