<section id="aboutus" class="containerwellcome">
  <div class="wellcome-main">
    <div class="wellcome-part">
      <h3 class="wellcome-start">Welcome</h3>
      <h2 class="wellcome-journey">Our Journey: Passion for Quality Coffee</h2>
    </div>
    <div class="wellcome-part-two">
      <p class="wellcome-text">At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the finest coffee experiences,
    crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them to perfection,
    ensuring each sip is a delight.
    </p>
    <button type="button" class="button-loc">
      Find location
    <svg class="" width="10" height="8">
        <use href="../img/icons.svg#icon-coffee"></use>
    </svg>
    </button>
    </div>
  </div>
  <div>
    <img class="wellcome-img" srcset="" src="../img/wellcome/jornay-mobile-min.jpg"
        width="" height="" alt="Coffee picture" />
  </div>
</section>
