.hero{
    background-repeat: no-repeat;
    background-image: image-set(url("../img/hero/hero-mobile-min.jpg") 1x, url("../img/hero/hero-mobile@2x-min.jpg") 2x);
    background-size: cover;
    background-position: center;
    padding: 108px 0;
}
@media (min-resolution: 192dpi) {
    .hero {
        background-image:url("../img/hero/hero-mobile@2x-min.jpg");
    }
}
.hero-title{
    font-family: "Aboreto", sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 120%;
letter-spacing: -0.01em;
color: #fff;
margin-bottom: 24px;
}
.hero-description{
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #fff;
margin-bottom: 32px;
}
.hero-button{
border-radius: 100px;
border: none;
padding: 10px 24px;
width: 135px;
height: 44px;
box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
background: #6F4E37;
stroke: #fff;
stroke-width: 1px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #fff;
text-decoration: none;
}

@media screen and (min-width:768px){
    .hero{
        background-image: url("../img/hero/hero-tablet-min.jpg") 1x, url("../img/hero/hero-tablet@2x-min.jpg") 2x;
        padding-top: 311px;
        padding-bottom: 311px;
        padding-left: 32px;
        padding-right: 176px;
    }
}

@media (min-resolution: 192dpi) {
    .hero{
        background-image:url("../img/hero/hero@2x-min.jpg");
    }
}

@media screen and (min-width:1440px){
    .hero-banner{
        background-image: url("../img/hero/hero-desktop-min.jpg") 1x, url("../img/hero/hero-desktop@2x-min.jpg") 2x;
        padding-top: 259px;
        padding-bottom: 259px;
        padding-left: 64px;
        padding-right: 816px;
    }
    @media (min-resolution: 192dpi) {
        .hero-banner {
            background-image:url("../img/hero/hero-desktop@2x-min.jpg");
        }
    }
    
.hero-title{
    width: 400px;
}
}