@keyframes slide {
    from {
        transform: translateX(-140%) translateY(-50%);
    }

    to {
        transform: translateX(-104%) translateY(-50%);
    }
}

@keyframes stretch {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(100%) scale(0.2);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(100%) scale(1);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    min-height: 631px;
    padding: 64px 16px;
    background-color: #e0cbb4;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 40px;
    text-align: center;
}

.modal:not(.is-open) .modal-container {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-button-x {
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background-color: inherit;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-x:hover,
.modal-button-x:focus {
    background-color: rgba(11, 8, 3, 0.1);
}

.modal-subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 16px;
}

.modal-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 24px;
}

.modal-img {
    border-radius: 24px;
    margin-bottom: 24px;
}

.modal-button-close {
    border-radius: 100px;
    padding: 10px 24px;
    width: 256px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6f4e37;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .modal-container {
        width: 704px;
        height: 771px;
    }

    .modal-subtitle {
        font-size: 36px;
        max-width: 502px;
        margin: 0 auto 16px auto;
    }

    .modal-text {
        margin-bottom: 48px;
    }

    .modal-img {
        border-radius: 40px;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .modal-container {
        width: 866px;
        height: 801px;
    }

    .modal-subtitle {
        font-size: 48px;
        max-width: 738px;
    }
}