.reviews {
    padding: 64px 0;  
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.review-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.review-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.review-card {
    background-color: #C29D84;
    width: 100%;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 32px;
    padding: 32px;
}

@media (min-width: 768px) {
    .review-card {
        width: calc((100% - 24px) / 2);
    }
}

@media (min-width: 1440px) {
    .review-card {
        width: calc((100% - 72px) / 4);
    }
}

.review-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.review-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.stars {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
}

.icon {
    fill: none;
    stroke: #0B0803;;
}
